body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header { 
    background-color: #34495e; 
    color: white;
     padding: 10px 0; 
     width: 100%;
}

h1 {
    color: #fff;
    margin: 20px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.candidate {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}

.candidate img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.candidate h2 {
    color: #34495e;
    margin: 10px 0 5px;
}

.candidate p {
    color: #555;
    font-size: 14px;
}
.vote-button {
     margin-top: 50px; 
    } 
.vote-button a {
     background-color: #34495e; 
     color: white; 
     padding: 15px 50px; 
     text-decoration: none;
      border-radius: 5px; 
      font-size: 16px;
     } 

.vote-button a:hover { 
    background-color: #34495e; 
}